/* Large Computers */
@media only screen and (max-width: 1920px) {
  .project-photo-container {
    height: 400px;
  }

  .project-photo-container:hover {
    height: 450px;
  }
}

/* Small Computers */
@media only screen and (max-width: 1440px) {
  /* Section - About Me */
  .section-aboutme {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: auto auto;
    grid-template-areas:
      "title title"
      "picture description"
      "picture skills";
  }

  .aboutme-container--skill-icons {
    place-self: start start;
  }

  .aboutme-description {
    place-self: center end;
  }

  .aboutme-image {
    place-self: start end;
  }

  /* Section - Projects */
  .project-photo-container {
    height: 300px;
  }

  .project-photo-container:hover {
    height: 350px;
  }
}

/* Tablets */
@media only screen and (max-width: 1023px) {
  html,
  body {
    font-size: 18px;
  }

  h2 {
    font-size: 250%;
  }

  section {
    height: auto;
  }

  /* Section - About Me */
  .section-aboutme h2 {
    width: auto;
    margin: 10px 0;
    /* font-size: 350%; */
  }

  .section-aboutme {
    height: auto;
  }

  .aboutme-container--skill-icons {
    width: unset;
    max-width: unset;
  }

  .aboutme-image {
    height: 35vw;
    margin-left: 5%;
    place-self: start center;
  }

  .section-aboutme h2,
  .aboutme-description {
    place-self: center center;
  }

  /* Section - Projects */
  .section-projects {
    grid-template-columns: 1fr minmax(25px, 200px) 1fr;
    padding-top: 50px;
  }

  .project-photo-container {
    height: 30vw;
  }

  .project-photo-container:hover {
    height: 30vw;
  }

  /* Section - Education */
  .section-education {
    margin: 0px;
    padding: 0px;
  }

  .section-education h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: min-content;
  }

  progress-ring {
    margin: 20px 30px;
  }
}

/* Mobile Landscape */
@media only screen and (max-width: 768px) {
  /* Section - About Me */
  .section-aboutme h2 {
    font-size: 300%;
  }

  .section-aboutme {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "picture"
      "description"
      "skills";
    text-align: center;
  }

  .aboutme-container--skill-icons {
    width: 95vw;
    max-width: 500px;
    place-self: center center;
  }

  .aboutme-image {
    height: 75vw;
    margin: 0;
  }

  /* Section - Projects */
  .section-projects {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, auto);
    justify-content: center;
    justify-items: center;
    text-align: center;
  }

  /* Re-order Elements */
  /* nth-child - even though the selector is applied to div, the integer passed to nth child accounts for any element in the parent. */
  .section-projects > div:nth-child(2) {
    order: 2;
  }
  .section-projects > div:nth-child(4) {
    order: 3;
  }
  .section-projects > div:nth-child(5) {
    order: 5;
  }
  .section-projects > div:nth-child(7) {
    order: 4;
  }
  .section-projects > div:nth-child(8) {
    order: 6;
  }
  .section-projects > div:nth-child(10) {
    order: 7;
  }

  .section-projects h2 {
    grid-column: span 1;
    order: 1;
  }

  .left-side {
    place-self: center center;
    margin: 0%;
    text-align: center;
  }

  .right-side {
    grid-column-start: 1;
    place-self: center center;
    margin: 0%;
  }

  .project-photo-container,
  .project-photo-container:hover {
    width: 95%;
    height: auto;
    margin: 30px 2.5% 0 2.5%;
  }

  .project-photo {
    height: auto;
    width: 100%;
  }

  .project-description-container {
    margin: 5px 2.5% 75px 2.5%;
  }
  .project-vine {
    transition-duration: 0s;
    display: none;
  }
}

/* Mobile Portrait */
@media only screen and (max-width: 478px) {
  html,
  body {
    font-size: 16px;
  }

  /* About Me */

  .skill-icon {
    height: 75px;
    border-radius: 5px;
    margin: 5px;
    transition-duration: 0.5s;
  }

  .skill-icon:hover {
    height: 100px;
    transition-duration: 0.5s;
  }
}
