/* CSS DIRECTORY
    1. =GLOBAL STYLING
    2. =NAVBAR
    3. =ABOUTME
    4. =PROJECTS
    5. =EDUCATION
    6. =CONTACTME
    7. =FOOTER
*/

/* ====================
   ===GLOBAL STYLING===
   ==================== */

/* Variables */
:root {
  --vine-width: 20px;
  --filterEffectRed: invert(17%) sepia(64%) saturate(7484%) hue-rotate(357deg)
    brightness(115%) contrast(118%);

  /* Sizes */
  --height--nav-icon: 50px;
  --height--nav-icon-hover: 55px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  /* Font */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
  /* Background */
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(62, 133, 62, 0.678)),
    to(rgba(62, 133, 62, 0.26))
  );
  background-image: -o-linear-gradient(
    top left,
    rgba(62, 133, 62, 0.678),
    rgba(62, 133, 62, 0.26)
  );
  background-image: linear-gradient(
    to bottom right,
    rgba(62, 133, 62, 0.678),
    rgba(62, 133, 62, 0.26)
  );
  /* Behavior */
  scroll-behavior: smooth;
  z-index: -5;
}

.text-block {
  line-height: 135%;
  padding: 5px 15px 15px 15px;
}

.text-container {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.4))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}

.white-bkg {
  background-color: white;
}

h1,
h2 {
  font-family: "Oxanium", cursive;
}

h2 {
  font-size: 425%;
  font-weight: 300;
  margin: 10px 5px;
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.3))
  );
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

/* ============
   ===NAVBAR===
   ============ */

nav {
  /*Size & Position */
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px 0px;
  /* Grid */
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-areas:
    ". name external-links"
    ". internal-links external-links";
  /* Styling */
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.8)),
    to(rgba(0, 0, 0, 0.8))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  z-index: 100;
  font-size: 125%;
}

nav h1 {
  grid-area: name;
  place-self: center;
  text-align: center;
  margin-bottom: -10px;
  font-size: 250%;
  font-weight: 300;
}

.mobile-nav {
  /* "Checkbox Hack" */
  position: absolute;
  /* Styling */
  display: none;
}

nav label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-area: nav-menu;
  place-self: center center;
  width: 90%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0;
}

nav label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-image: url(svg/nav-menu.svg);
  display: none;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-size: 90%;
}

.nav-external-links {
  grid-area: external-links;
  justify-self: end;
  align-self: end;
}

.nav-external-links a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 5px;
}

.nav-icon {
  height: var(--height--nav-icon);
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.nav-icon:hover {
  height: var(--height--nav-icon-hover);
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.nav-internal-links {
  grid-area: internal-links;
  place-self: center;
}

.nav-internal-links a {
  padding: 0px 10px;
}

.nav-internal-links a:hover {
  text-decoration: underline;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: white;
}

/* =============
   ===ABOUTME===
   ============= */

.section-aboutme {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "title title title"
    "skills picture description";
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 75vh;
}

.section-aboutme h2 {
  grid-area: title;
  text-align: center;
}

.aboutme-container--skill-icons {
  /* Size & Position */
  grid-area: skills;
  place-self: center end;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-width: 500px;
  border: 2px solid white;
  padding: 7px;
  margin: 5px 20px;
  /* Child Positioning */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* Styling */
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.4))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}

.aboutme-container--skill-icons:hover {
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section-aboutme h3 {
  width: 100%;
  font-size: 175%;
  text-align: center;
}

.skill-icon {
  height: 100px;
  border-radius: 5px;
  margin: 5px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.skill-icon:hover {
  height: 125px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.aboutme-image {
  grid-area: picture;
  height: 50vh;
  border-radius: 50%;
  border: 5px solid white;
  place-self: center;
}

.aboutme-description {
  /* Size & Position */
  grid-area: description;
  max-width: 500px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  place-self: center start;
  margin: 5px 20px;
  /* Child Positioning */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Styling */
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.aboutme-description strong,
em {
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.aboutme-description:hover strong {
  background-color: rgba(48, 250, 48, 0.35);
  border-radius: 3px;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.aboutme-description:hover em {
  background-color: rgba(48, 250, 48, 0.35);
  border-radius: 3px;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

/* ==============
   ===PROJECTS===
   ============== */

.section-projects {
  display: grid;
  grid-template-columns: 1fr minmax(25px, 250px) 1fr;
  grid-template-rows: auto repeat(3, auto);
  padding-top: 125px;
  justify-items: center;
  width: 100%;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.section-projects h2 {
  padding-bottom: 5px;
  grid-column-start: 1;
  grid-column: span 3;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-left: 0%;
}

.left-side {
  place-self: center end;
  grid-column-start: 1;
  text-align: right;
  margin-left: 5%;
}

.right-side {
  place-self: center start;
  grid-column-start: 3;
  margin-right: 5%;
}

.project-photo-container {
  margin: 10px 5px;
  position: relative;
  height: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: 60px;
  margin-top: 60px; /* Allows images to stretch and cause vine stretching and allows there to be healthy separation between the projects. Can't use grid gap because of continuous vines */
}

.project-photo {
  height: 100%;
  border-radius: 50%;
  border-radius: 10px;
  border: 3px solid white;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.project-photo-container:hover {
  height: 550px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.project-photo-container:hover::after {
  /* Text */
  content: "Visit Site";
  color: white;
  text-align: center;
  /* Position & Size */
  position: absolute;
  width: 98%;
  margin: 0% 1%;
  top: 90%;
  left: 0;
  z-index: 5;
  /* Style */
  background-color: rgba(0, 0, 0, 0.5);
}

.project-photo-container:hover .project-photo {
  border: 3px solid green;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.project-github-link {
  /* Position & Size */
  position: absolute;
  z-index: 5;
  left: 0;
  /* Style */
  padding: 5px;
}

.project-github-link-icon {
  height: 50px;
  width: 50px;
}

.project-github-link-icon:hover {
  -webkit-filter: var(--filterEffectRed);
  filter: var(--filterEffectRed);
}

.project-github-link:hover::after {
  content: "Repo";
  color: white;
  text-align: center;
  /* Position & Size */
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 5;
  left: 95%;
  top: 30%;
  /* Style */
  background-color: rgba(0, 0, 0, 0.5);
}

/* Project Description */
.project-description-container {
  max-width: 550px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.4))
  );
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-title {
  padding: 2px 0px;
}

.project-description {
  padding: 5px 2px;
}

/* Progress & Skills */
.project-progress-and-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Skills */
.project-skills {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.project-skills .skill-icon {
  height: 50px;
  padding: 0px 2px;
  margin: 0px;
}

/* Progress Bar */
.project-progress {
  width: 60%;
  padding-bottom: 2px;
}

.progress-bar-container {
  /* Size and Position */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 5px;
  /* Styling */
  border: 1px white solid;
  border-radius: 5px;
  background-color: rgba(70, 129, 70, 0.514);
}

.progress-bar-total {
  background-color: rgb(45, 201, 45);
  width: calc(var(--progress) * 1%);
  height: 80%;
}

.progress-bar-text-left {
  position: absolute;
  left: 2px;
}

.progress-bar-text-right {
  position: absolute;
  right: 2px;
}

/* Vines */
.project-vine {
  display: grid;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-template-rows: auto -webkit-min-content -webkit-min-content auto;
  grid-template-rows: auto min-content min-content auto;
  grid-template-columns: 1fr var(--vine-width) 1fr;
  grid-template-areas:
    ". vine-top ."
    "vine-left vine-open-left ."
    ". vine-open-right vine-right"
    ". vine-bottom .";
  align-self: stretch;
  justify-self: stretch;
  grid-column-start: 2;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

.project-vine .vine {
  background-color: rgb(93, 190, 93);
  border-color: white;
  border-width: 2px;
}

.vine-center {
  width: var(--vine-width);
  height: 100%;
}

.vine-branch {
  width: 50px;
  height: var(--vine-width);
  border-bottom: solid;
  border-top: solid;
}

.vine-top {
  grid-area: vine-top;
}

.vine-bottom {
  grid-area: vine-bottom;
}

.vine-top,
.vine-bottom {
  border-right: solid;
  border-left: solid;
}

.vine-open-left {
  grid-area: vine-open-left;
  border-right: solid;
  height: var(--vine-width);
}

.vine-open-right {
  grid-area: vine-open-right;
  border-left: solid;
  height: var(--vine-width);
}

.vine-wrapper-left {
  grid-area: vine-left;
  position: relative;
}

.vine-left {
  border-bottom-left-radius: var(--vine-width);
  border-top-left-radius: var(--vine-width);
  border-left: solid;
  margin-left: 2px;
  width: 100%;
}

.vine-wrapper-right {
  grid-area: vine-right;
}

.vine-right {
  grid-area: vine-right;
  border-bottom-right-radius: var(--vine-width);
  border-top-right-radius: var(--vine-width);
  margin-left: -2px;
  width: 100%;
  border-right: solid;
}

.vine-end-top {
  border-top-right-radius: var(--vine-width);
  border-top-left-radius: var(--vine-width);
  border-top: solid;
}

.vine-end-bottom {
  border-bottom-right-radius: var(--vine-width);
  border-bottom-left-radius: var(--vine-width);
  border-bottom: solid;
}

/* ===============
   ===EDUCATION===
   =============== */

.section-education {
  margin: 100px 0px;
  padding: 120px 0px;
  justify-items: center;
  width: 100%;
  min-height: 75vh;
}

.section-education h2 {
  margin-bottom: 50px;
}

.education-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

progress-ring {
  margin: 0 30px;
}

/* ===============
   ===CONTACTME===
   =============== */

.section-contactme {
  /* Flex */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* Size and Position */
  padding: 100px 0px;
}

.section-contactme h2 {
  margin-left: 0%;
  white-space: nowrap;
}

.section-contactme h3 {
  width: 40%;
  line-height: 135%;
  /* Text Styling */
  text-align: center;
  font-size: 135%;
  font-weight: 300;
  margin: 30px 0;
}

.contact-me-container {
  /* Grid */
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-max-content;
  grid-template-columns: min-content max-content;
  grid-template-rows: repeat(2, 1fr);
  /* Size and Position */
  max-width: 75%;
  max-height: 400px;
  margin: 1%;
  padding: 1%;
}

.contact-me-container a {
  place-self: center;
}

.contact-me-icon .nav-icon:hover {
  height: var(--height--nav-icon);
}

.contact-me-icon:hover + a {
  text-decoration: underline;
}

.contact-me-link {
  padding-left: 2%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  white-space: nowrap; /*Important for LinkedIn link being one line*/
}

.contact-me-link:hover {
  text-decoration: underline;
}

/* ============
   ===FOOTER===
   ============ */
.section-footer {
  background-color: rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px;
  padding: 1% 0;
}

.section-footer p {
  margin-right: 15px;
  font-size: 150%;
}
